{% extends 'EmaGroBlogBundle::layout.html.twig' %}

{% block title %}EmaGroBlogBundle:Blog:index{% endblock %}

{% block body %}
    <section id="liste-des-articles">
        {% for post in posts %}
            <article class="post-preview">
                <header style="margin-bottom: 40px;">
                    <a href="{{ path('post', {slug:post.getUrlAlias()}) }}">
                        <h2 class="post-title">
                            {{ post.getTitre() }}
                        </h2>
                    </a>
                </header>
                {{ post.getContent|raw }}
                <footer>
                    <p class="post-meta">
                        <span><b>id:</b> {{ post.getId() }}</span>
                        <span style="display: block"><b>urlAlias:</b> {{ post.getUrlAlias() }}</span>
                    </p>
                </footer>
            </article>
            <hr>
        {% endfor %}
    </section>
{% endblock %}



