{% extends 'EmaGroBlogBundle::layout.html.twig' %}

{% block title %}EmaGroBlogBundle:Blog:detail{% endblock %}

{% block body %}
    <section id="formulaire">
        {% if status == "success" %}
             <div class="alert alert-success">
                 <strong>Félicitation</strong> Votre topic à bien été modifié.
             </div>
        {% elseif status != "" %}
            <div class="alert alert-danger">
                {{  status }}
            </div>
        {% endif %}

        {{ form_start(form) }}
            <fieldset>
                <h2>Modifier un article</h2>
                <ul>
                    <li style="padding-bottom: 30px;">
                        {{ form_row(form.titre) }}
                    </li>
                    <li>
                        {{ form_row(form.content) }}
                    </li>
                </ul>
            </fieldset>
        {{ form_end(form) }}
    </section>
{% endblock %}